<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-primary border-bottom shadow-sm">
    <h2 class="my-0 mr-md-auto font-weight-normal">Project Manager</h2>
    
  </div>
  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <nav class="my-2 my-md-0 mr-md-3">
        <a class="btn btn-outline-primary" routerLinkActive="active" routerLink="/adduser">Add Users</a>
        </nav>
      <nav class="my-2 my-md-0 mr-md-3">
        <a class="btn btn-outline-primary" routerLinkActive="active" routerLink="/addproject">Add Projects</a>
      </nav> 
      <nav class="my-2 my-md-0 mr-md-3">
        <a class="btn btn-outline-primary" routerLinkActive="active" routerLink="/addtask">Add Tasks</a>
      </nav>
      <nav class="my-2 my-md-0 mr-md-3">
        <a class="btn btn-outline-primary" routerLinkActive="active" routerLink="/viewtask">Views Tasks</a>
      </nav>
    </div>