.nav-bar-button {
    background-color: #5cb85c;
    color : #fff;
  }
  .navbar-btn {
    border-color: #14a4ae !important;
    text-transform: uppercase !important;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif !important;
    font-weight: 400;
    color: #fff !important;
    background-color: #797576 !important; 
 
    padding: 8px 10px !important;
 }
.navbar-btn:hover {
    color: #FFF;
    background-color: #337AB7 !important;
    border-color: #2E6DA4 !important;
}

.btn-primary {
    border-color: #a8a4a5;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    color: #fff;
}